# Notebook Setup

In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
sns.set()
sns.set_style("ticks")
sns.set_palette("colorblind")
sns.set_context("notebook")

# Load Data

In [26]:
data = pd.read_csv("./data/cleveland.csv")

print("--- Columns ---")
print(" | ".join(list(data.columns.to_numpy().flatten())))
print()

print("--- Head ---")
display(data.head(3))
print()

print("--- Tail ---")
display(data.tail(3))
print()

--- Columns ---
age | sex | cp | trestbps | chol | fbs | restecg | thalach | exang | oldpeak | slope | ca | thal | num

--- Head ---

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1

--- Tail ---

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [ ]:
attribute_group1 = {
    
}

In [ ]:
attribute_group2 = {
    
}